* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #6497b1;
}

main {
    min-height: 80vH;
}
/* General classes for everywhere use */

.n-flex {
    display: flex;
}

.n-column {
    flex-direction: column;
}

.n-center {
    align-items: center;
    justify-content: center;
}

.n-even {
    justify-content: space-evenly;
}

.n-between {
    justify-content: space-between;
}

.n-around {
    justify-content: space-around;
}

.w100 {
    width: 100%;
}

.h30 {
    height: 30vH;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}


/* Header */

.main-header {
    min-height: 10vH;
    background-color: #03396c;
    z-index: 10;
}


.nav-2 > * {
    margin: 0 5%;
    width: 30%;
}

.main-nav a {
    color: #ffffff;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

.nav-icons {
    justify-content: space-evenly;
}

.nav-bars {
    padding-left: 7%;
    display: none!important;
    color: #ffffff;
}

#nav-cont-1, #nav-cont-2 {
    transition: .5s;
}

@media screen and (max-width: 700px) {
    .nav-bars {
        display: flex!important;
        height: 10vh;
        align-items: center;
    }

    .main-nav.n-flex {
        display: block;
    }

    .nav-2.responsive {
        position: absolute;
        display: none;
        transition: .5s;
        background-color: #03396c;
        z-index: 15;
    }

    #nav-cont-1, #nav-cont-2 {
        width: 100%;
        margin: 3vH 0;

    }
}


/* Landing page */

.main-banner {
    background-color: #b3cde0;
    height: 50vH;
}

.main-works {
    background-color: 	#6497b1;
    height: 50vH;
}

.main-about {
    background-color: #b3cde0;
    height: 50vH;
}


/* Footer */

.main-footer {
    min-height: 10vH;
    background-color: #03396c;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.459) 1px 1px;

}


/* About page */

.about-main {
    background-color: #6497b1;
}

.slider-sec {
    background-color: rgba(0, 0, 0, 0.349);
}

.slider-cont {
    height: 30vH;
}

.slider-back{
    filter: blur(8px);
    position: absolute;
    z-index: -1;
}

.about-bio {
    min-height: 50vH;
    padding: 3vH 10%;
    flex-direction: column;
}

.about-h1 {
    align-self: flex-start;
    font-size: 2em;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.459) 1px 1px;
}

.about-p {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.2em;
    text-shadow: rgba(0, 0, 0, 0.459) 1px 1px;
}

/* works */

.works-main {
    min-height: 80vH;
    flex-direction: column;
    align-self: center;
    background-color: #6497b1;
    padding: 10vH 5% 3vh 5%;
}

.work-card {
    font-family: 'Montserrat', sans-serif;
    padding: 1vH 5%;
    align-items: center;
    flex-direction: column;
    min-height: 50vH;
    margin: 20px auto;
    width: 80%;
    background-color: #b3cde0be;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: .5s;
}

/* .is-active {
    position: relative;
    top: -1vH;
} */

#image-slider {
    width: 100%;
}

#image-slider .is-visible:hover {
    position: relative;
    top: -1vH;
}

#secondary-slider {
    width: 70%;
    margin: auto;
}

.splide__pagination {
    bottom: -2em!important;
}


/* single work page */

.work-tn {
    min-height: 50vH;
    margin: 3vH 0;
}

.work-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-article h1 {
    font-size: 2em;
}

.work-article > * {
    margin: 2vH 0;
}

.work-article hr {
    width: 100%;
}

.work-article p {
    font-size: 1.2em;
}

.single-main {
    min-height: 80vH;
    background-color: #6497b1;
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.459) 1px 1px;

    font-family: 'Montserrat', sans-serif;
    padding: 5vH 10%;
}

.single-main h1 {
    font-size: 2.5em;
}

.single-tn {
    z-index: 5;
}

.single-main .work-tn .slider-back {
    transform: scale(1.1);
    z-index: 0;
}

.comtit {
    margin: 3vH 0;
    font-size: 1.7em;
}

.single-comments {
    flex-direction: column;
    width: 90%;
    background-color: #2868a5b7;
}

.single-comments input::-moz-placeholder {
    width: 80%;
    min-height: 10vH;
    background-color: #2868a5b7;
    padding-left: 2%;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.single-comments input:-ms-input-placeholder {
    width: 80%;
    min-height: 10vH;
    background-color: #2868a5b7;
    padding-left: 2%;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.single-comments input, .single-comments input::placeholder {
    width: 80%;
    min-height: 10vH;
    background-color: #2868a5b7;
    padding-left: 2%;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.single-comments input:focus {
    outline: none;
}

.single-comments button, .single-comments button:hover {
    width: 20%;
    background-color: #03396c7c;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 1vH;
}

.single-comments button:focus {
    background-color: #03396ca6;
    width: 19%;
}

.comment {
    padding: 2vH;
    border-bottom: 1px #ffffff solid;
}

.comment p {
    margin-left: 1%;
}

.com.n-flex {
    margin-bottom: 1vH;
}

.main-edit {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.u-edit {
    width: 50%;
}

.u-edit > * {
    margin: 1vH 0;
}

@media screen and (max-width: 865px) {
    #secondary-slider {
        width: 80%;
    }

    .nav-2 > * {
        width: 45%;
    }

    .nav-2.n-between {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 700px) {
    #secondary-slider {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    #secondary-slider {
        width: 90%;
    }
}

