* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General classes for everywhere use */

.n-flex {
    display: flex;
}

.n-center {
    align-items: center;
    justify-content: center;
}

.n-even {
    justify-content: space-evenly;
}


/* Header */
.main-header {
    width: 100%;
    height: 10vH;
    background-color: sienna;
}

.main-nav {
    width: 100%;
}
