* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* General classes for everywhere use */

.n-flex {
    display: flex;
}

.n-center {
    align-items: center;
    justify-content: center;
}

.n-even {
    justify-content: space-evenly;
}

.n-between {
    justify-content: space-between;
}

.w100 {
    width: 100%;
}

.h30 {height: 30vH;}


/* Header */

.main-header {
    height: 10vH;
    background-color: sienna;
}


.main-nav > * {
    margin: 0 5%;
    width: 30%;
}

.main-nav a {
    color: #ffffff;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

.nav-icons {
    justify-content: flex-end;
}


/* Landing page */

.main-banner {
    background-color: wheat;
    height: 50vH;
}

.main-works {
    background-color: sandybrown;
    height: 50vH;
}

.main-about {
    background-color: wheat;
    height: 50vH;
}


/* Footer */

.main-footer {
    height: 10vH;
}

.align-center {
    text-align: center;
}


/* About page */ 

.slider-sec {
    height: 30vH;
}

.slider-cont {
    height: 30vH;
}