* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* General classes for everywhere use */

.n-flex {
    display: flex;
}

.n-center {
    align-items: center;
    justify-content: center;
}

.n-even {
    justify-content: space-evenly;
}

.n-between {
    justify-content: space-between;
}

.w100 {
    width: 100%;
}

.h30 {
    height: 30vH;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}


/* Header */

.main-header {
    height: 10vH;
    background-color: #03396c;
}


.main-nav > * {
    margin: 0 5%;
    width: 30%;
}

.main-nav a {
    color: #ffffff;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

.nav-icons {
    justify-content: flex-end;
}


/* Landing page */

.main-banner {
    background-color: #b3cde0;
    height: 50vH;
}

.main-works {
    background-color: 	#6497b1;
    height: 50vH;
}

.main-about {
    background-color: #b3cde0;
    height: 50vH;
}


/* Footer */

.main-footer {
    height: 10vH;
    background-color: #03396c;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.459) 1px 1px;

}


/* About page */ 

.about-main {
    background-color: #6497b1;
}

.slider-sec {
    background-color: rgba(0, 0, 0, 0.349);
}

.slider-cont {
    height: 30vH;
}

.about-bio {
    min-height: 50vH;
    padding: 3vH 10%;
    flex-direction: column;
}

.about-h1 {
    align-self: flex-start;
    font-size: 2em;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.459) 1px 1px;
}

.about-p {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.2em;
    text-shadow: rgba(0, 0, 0, 0.459) 1px 1px;
}